__pycache__/
/*.egg-info/
/*.egg
/bin/
/include/
/lib/
/lib64
/pyvenv.cfg
/htmlcov/
/.coverage
/.tox
/pip-selfcheck.json
/build/
/share/
/docs/
*.dsc
*.tar.gz
*.tar.xz
*.build
*.changes
*.deb
debian/files
debian/python3-hello.debhelper.log
debian/python3-hello.substvars
debian/python3-hello/
