include README.md
include CONTRIBUTING.md
include .coveragerc
include COPYING
include Makefile
include tox.ini
include .travis.yml
include debian/changelog
include debian/compat
include debian/control
include debian/copyright
include debian/rules
include debian/source/format
