Source: pcr
Maintainer: Stefano Palazzo <stefano.palazzo@gmail.com>
Section: python
Priority: optional
Build-Depends: python3 (>= 3.3.1),
               python3-setuptools,
               pep8,
               debhelper (>= 9)
Standards-Version: 3.9.4

Package: python3-pcr
Architecture: all
Depends: python3 (>= 3.3.1),
         python3-setuptools,
         ${misc:Depends}
Description: Python 3 Cryptography Toolkit
 A cryptography toolkit implemented in pure python 3. PCR includes
 AES, CBC (mode of operation), Diffie-Hellman, HOPT (two-factor-
 authentication), pbkdf2 (key derivation), RC4, and XTEA, as well
 as some ancillary modules.